
.env

# Ignore all files inside these folders
/data/00_raw/*
/data/01_cleaned/*
/data/02_categorized/*
/data/03_reconciled/*

/data/model/*

# Allow tracking of the folders themselves
!/data/00_raw/
!/data/01_cleaned/
!/data/02_categorized/
!/data/03_reconciled/
!/data/model/

# Ignore Python cache files and folders
__pycache__/
**/__pycache__/

# complex functionality
/data/my_category_lookup.json
/data/my_balances.json

# Ignore virtual environment
/venv/
/__pycache__/

