
.env

# Ignore all files inside these folders
/data/00--raw/*
/data/01--cleaned/*
/data/02--categorized/*
/data/03--reconciled/*
/data/model/*

# Allow tracking of the folders themselves
!/data/00--raw/
!/data/01--cleaned/
!/data/02--categorized/
!/data/03--reconciled/
!/data/model/

# Ignore Python cache files and folders
__pycache__/
**/__pycache__/

# complex functionality
/data/lookup/my_category_lookup.json
/data/lookup/my_balances.json

# Ignore virtual environment
/venv/
/__pycache__/

