
.env

# personal content
/data/00_raw/*
/data/01_cleaned/*
/data/02_categorized/*
/data/03_reconciled/*

# complex functionality
/src/sheets_api.py

/data/my_category_lookup.json

# Ignore virtual environment
/venv/

/__pycache__/
